/*----------電話番号、プライバシーポリシー -------------*/
.contact-box {
margin-top: 120px;
@include md {
  margin-top: 40px;
}
height: auto;
padding: 0;
background: url(../images/common/contact-bg.png) no-repeat center;
background-size: cover;
  .bg-cover {
    background-color: rgba(83, 83, 82, 0.3);
    width: 100%;
    height: 100%;
    .contact {
      width: 100%;
      height: 100%;
      padding: 80px 0;
      color: $color1;
      text-align: center;
      @include md {
        padding: 80px 24px;
        }
      h2 {
        margin-bottom: 40px;
        @include md {
          margin-bottom: 24px;
          }
      }
      &__tel{
        margin-bottom: 40px;
        @include md {
          margin-bottom: 24px;
          }
        .tell-banner{
          margin-bottom: 16px;
        }
      }
      &__policy {
        h3{
          margin-bottom: 16px;
          @include md {
            margin-bottom: 8px;
            }
        }
      }
    }
  }
}

/*------- フッター -------*/
.footer{
  p{
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  &__inner{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include lg {
      padding: 0 48px;
      }
    &--left{
      width: 65%;
      @include md {
        width: 100%;
        margin-bottom: 40px;
        }
      .footer-logo{
        margin-bottom: 40px;
        @include md {
          margin-bottom: 24px;
            }
        img {
          max-width: 476px;
          width: 100%;
        }
      }
      .location{
        width: 50%;
        padding-right: 40px;
        @include md {
         width: 100%;
         padding-right: 0;
         margin-bottom: 24px;
          }
        p{
          margin-bottom: 8px;
        }
        .map-btn{
          margin-top: 16px;
          width: 158px;
          height: 38px;
          background-color: $color3;
          border-radius: 28px;
          p {
            color: $color1;
            font-size: 1.6rem;
            @extend .Rounded-medium;
            width: 100%;
            text-align: center;
            line-height: 38px;
              &::after{
                content: "";
                background: url(../images/svg/ext-site-icon.svg) no-repeat center;
                display: inline-block;
                background-size: contain;
                vertical-align: -3px;
                width: 14px;
                height: 16px;
                margin-left: 8px;
            }
          }
        }
      }
      .access{
        width: 50%;
        @include md {
          width: 100%;
           }
        p{
          margin-bottom: 16px;
          @include md {
            margin-bottom: 8px;
             }
        }
      }
    }
    &--right{
      width: 30%;
      @include md {
        width: 100%;
        }
      .footer-menulist {
        @include md {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100%;
          ul {
            width: 50%;
            @include xs {
              width: 100%;
          }
          }
          }
          ul + ul{
            margin-top: 16px;
            @include md {
              margin-top: 0;
          }
          @include xs {
            margin-top: 16px;
        }
        }
        li {
          list-style: none;
        }
      }
    }
  }
  .copyright{
    font-size: 1.2rem;
    text-align: center;
    margin: 128px 0 54px 0;
    @include md {
      font-size: 1.0rem;
      margin: 64px 0 54px 0;
  }
  }
}