@charset "UTF-8";
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

.mainslide.slick-initialized.slick-slider.slick-dotted {
  margin: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.text, body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.Rounded-medium, .news .news__box--inner .article__title--date, .footer__inner--left .location .map-btn p, .catch-copy h1, h3.medium {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
}

.Rounded-bold, .mainvisual__inner--slide .scroll p, h3 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
}

.Rounded-extrabold, .course .course__list .coursebox__inner--image .right-wrap .link-btn, header .header .header__inner--right .menu__btn p, header .header .header__inner--right .tel .tell-num, .tell-banner .tell-num, h3.extrabold, h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
}

/* --------------------------------  MIX IN  -------------------------------- */
/* --------------------------------  MIX IN  -------------------------------- */
/* --------------------------------  Admin Menu  -------------------------------- */
/*メニューの背景色*/
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #ffffff;
}

/*メニューのホバーした時の背景色*/
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #B40F0F;
  background: #e6e6e6;
}

/* Admin Menu: submenu */
/*メニューの第2階層の背景色*/
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: black;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: black;
}

/*アクティブ時の背景色*/
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #000000;
  background: #ffffff;
}

/* Admin Menu: bubble */
/*項目右の数字アイコンの色*/
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #000000;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0);
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #000000;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0);
}

/* Admin Bar */
/*管理画面のヘッダーの色*/
#wpadminbar {
  color: #fff;
  background: #0f0101;
}

/* Core UI */
/*更新、公開ボタンの色*/
.wp-core-ui .button-primary {
  background: #0f0101;
  border-color: #0f0101;
  color: #fff;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
  background: #0f0101;
  border-color: #0f0101;
  color: #fff;
}

/* --------------------------------  Admin Menu  -------------------------------- */
html {
  font-size: 10px !important;
}

img {
  max-width: 100%;
}

body {
  font-size: 1.4rem;
  line-height: 1.4em;
  color: #000000;
}

@media screen and (max-width: 540px) {
  br.pc-only {
    display: none;
  }
}

br.sp-only {
  display: none;
}
@media screen and (max-width: 540px) {
  br.sp-only {
    display: block;
  }
}

.section {
  max-width: 100%;
  width: 100%;
  padding-top: 120px;
}
@media screen and (max-width: 1024px) {
  .section {
    padding: 60px 40px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 40px 24px;
  }
}
@media screen and (max-width: 540px) {
  .section {
    padding: 40px 16px;
  }
}
.section__inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.title-box {
  margin: 0 auto;
  height: auto;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 56px;
}
.title-box::before {
  width: 120px;
  height: 110px;
}
.title-box::after {
  width: 120px;
  height: 110px;
}
@media screen and (max-width: 768px) {
  .title-box {
    margin-bottom: 40px;
    height: 80px;
  }
  .title-box::before {
    width: 80px;
    height: 88px;
  }
  .title-box::after {
    width: 80px;
    height: 88px;
  }
}
.title-box::before {
  content: "";
  background: url(../images/svg/elephant.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: -16px;
  left: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.title-box.rabbit::after {
  content: "";
  background: url(../images/svg/rabbit.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: -16px;
  right: 0;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
}
.title-box.lion::after {
  content: "";
  background: url(../images/svg/lion.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: -16px;
  right: 0px;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
}
@media screen and (max-width: 540px) {
  .title-box.squirrel::before {
    top: 19px;
  }
}
.title-box.squirrel::after {
  content: "";
  background: url(../images/svg/squirrel.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: -16px;
  right: -10px;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
}
@media screen and (max-width: 540px) {
  .title-box.squirrel::after {
    top: 19px;
  }
}
.title-box.bear::after {
  content: "";
  background: url(../images/svg/bear.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: -16px;
  right: 0px;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
}

@media screen and (max-width: 540px) {
  .explanation.rabbit::before {
    top: 42px;
  }
}
.explanation.rabbit::after {
  content: "";
  background: url(../images/svg/rabbit.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: -16px;
  right: 0;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
}
@media screen and (max-width: 540px) {
  .explanation.rabbit::after {
    top: 42px;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 1.5em;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
h2.title {
  text-align: center;
  padding: 22px 100px 16px;
  border-bottom: 2px solid #B5D1E0;
}
@media screen and (max-width: 768px) {
  h2.title {
    padding: 16px 56px 8px;
  }
}

h3 {
  font-size: 1.6rem;
  line-height: 1.5em;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.4rem;
  }
}
.bold {
  font-weight: bold;
}

/*----------- レイアウト.整列 ------------*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flexcolumn {
  display: flex;
  justify-content: space-between;
}
.flexcolumn.reverse {
  flex-direction: row-reverse;
}

.flexitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*--------------画像窓枠------------------*/
.window-frame {
  max-width: 248px;
  width: 100%;
  height: 325px;
  border-radius: 214px 214px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .window-frame {
    max-width: 316px;
    height: 375px;
  }
}
@media screen and (max-width: 768px) {
  .window-frame {
    max-width: 248px;
    height: 325px;
  }
}

/*---------------メニューリスト装飾--------------------*/
.menulist a {
  font-size: 1.6rem;
  line-height: 1.5;
}
.menulist li {
  transition: 0.3s;
  cursor: pointer;
}
.menulist li::before {
  content: "";
  background: url(../images/svg/arrow.svg) no-repeat center;
  margin-right: 16px;
  vertical-align: -3px;
  width: 20px;
  height: 18px;
  display: inline-block;
  transition: 0.3s;
}
.menulist li:hover::before {
  margin-right: 8px;
  margin-left: 8px;
}
.menulist li + li {
  margin-top: 16px;
}

.tell-banner {
  margin: 0 auto;
  width: 324px;
  height: 67px;
  background-color: #B40F0F;
  border-radius: 60px;
}
@media screen and (max-width: 768px) {
  .tell-banner {
    width: 306px;
    height: 66px;
  }
}
.tell-banner .tell-num {
  color: #ffffff;
  line-height: 67px;
  font-size: 2.4rem;
}
@media screen and (max-width: 768px) {
  .tell-banner .tell-num {
    line-height: 66px;
    font-size: 2rem;
  }
}
.tell-banner .tell-num::before {
  content: "";
  background: url(../images/svg/tell-icon.svg) no-repeat center;
  display: inline-block;
  background-size: contain;
  vertical-align: -3px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .tell-banner .tell-num::before {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: -4px;
  }
}

.breadcrumb-list {
  max-width: 1440px;
  width: 100%;
  padding: 16px 16px 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.breadcrumb-list li {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumb-list li a span {
  margin: 0 8px;
}

header {
  top: 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 152px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.16);
  position: fixed;
  z-index: 999;
  transition: 0.3s;
}
header.none {
  top: -152px;
}
@media screen and (max-width: 768px) {
  header {
    height: 88px;
  }
}
header .header {
  width: 100%;
}
header .header .header__inner {
  margin: 0 auto;
  max-width: 100%;
  width: 1680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  header .header .header__inner {
    padding: 0 64px;
  }
}
@media screen and (max-width: 768px) {
  header .header .header__inner {
    padding: 0 16px;
  }
}
@media screen and (max-width: 768px) {
  header .header .header__inner--left .header-logo img {
    width: 173px;
  }
}
header .header .header__inner--right {
  display: flex;
  justify-content: left;
  align-items: center;
}
header .header .header__inner--right .tel {
  background-color: #B40F0F;
  width: 376px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  header .header .header__inner--right .tel {
    display: none;
  }
}
header .header .header__inner--right .tel p {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 1.4rem;
}
header .header .header__inner--right .tel .tell-num {
  font-size: 3.2rem;
}
header .header .header__inner--right .tel .tell-num::before {
  content: "";
  background: url(../images/svg/tell-icon.svg) no-repeat center;
  display: inline-block;
  background-size: contain;
  vertical-align: -8px;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
header .header .header__inner--right .sns {
  margin-left: 24px;
  transition: 0.3s;
}
header .header .header__inner--right .sns:hover {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  header .header .header__inner--right .sns {
    display: none;
  }
}
header .header .header__inner--right .menu {
  z-index: 999;
}
header .header .header__inner--right .menu__btn {
  position: relative;
  margin-left: 24px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border: 3px solid #B40F0F;
  border-radius: 8px;
}
header .header .header__inner--right .menu__btn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 10px;
  height: 3px;
  border-radius: 3px;
  background: #B40F0F;
  width: 31px;
}
header .header .header__inner--right .menu__btn span:nth-of-type(1) {
  top: 9px;
}
header .header .header__inner--right .menu__btn span:nth-of-type(2) {
  top: 18px;
}
header .header .header__inner--right .menu__btn span:nth-of-type(3) {
  top: 27px;
}
header .header .header__inner--right .menu__btn p {
  position: absolute;
  font-size: 9px;
  color: #B40F0F;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transition: all 0.4s;
}
header .header .header__inner--right .menu.open .menu__btn span:nth-of-type(1) {
  top: 18px;
  left: 10px;
  transform: translateY(6px) rotate(-45deg);
  width: 30px;
}
header .header .header__inner--right .menu.open .menu__btn span:nth-of-type(2) {
  opacity: 0;
}
header .header .header__inner--right .menu.open .menu__btn span:nth-of-type(3) {
  top: 30px;
  left: 10px;
  transform: translateY(-6px) rotate(45deg);
  width: 30px;
}
header .header .header__inner--right .menu.open .menu__btn p {
  opacity: 0;
}
header .header .header__inner .inside {
  background-color: #ffffff;
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all 0.3s linear;
}
header .header .header__inner .inside__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  header .header .header__inner .inside__inner {
    padding: 0 64px;
  }
}
@media screen and (max-width: 540px) {
  header .header .header__inner .inside__inner {
    padding: 0 32px;
  }
}
@media screen and (max-width: 375px) {
  header .header .header__inner .inside__inner {
    padding: 0 16px;
  }
}
header .header .header__inner .inside__inner--logo {
  max-width: 604px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  header .header .header__inner .inside__inner--logo {
    margin-bottom: 32px;
  }
}
header .header .header__inner .inside__inner--logo img {
  width: 100%;
}
header .header .header__inner .inside__inner--list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 604px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  header .header .header__inner .inside__inner--list {
    margin-bottom: 32px;
  }
}
header .header .header__inner .inside__inner--list ul {
  width: 50%;
}
header .header .header__inner .inside__inner--contact {
  text-align: center;
}
header .header .header__inner .inside__inner--contact .tell-banner {
  margin-bottom: 16px;
}
header .header .header__inner.open .inside {
  display: block;
  opacity: 1;
  z-index: 990;
}

.mainvisual {
  padding: 152px 120px 0 120px;
}
@media screen and (max-width: 768px) {
  .mainvisual {
    padding: 88px 48px 0 48px;
  }
}
.mainvisual__inner {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}
.mainvisual__inner--slide {
  max-width: 1680px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .mainvisual__inner--slide .slide-pc {
    display: none;
  }
}
.mainvisual__inner--slide .slide-pc .mv-slide {
  width: 100%;
  height: 749px;
  overflow: hidden;
}
.mainvisual__inner--slide .slide-pc .mv-slide .slide-img img {
  width: 100%;
  height: 749px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainvisual__inner--slide .slide-pc .mv-slide .slick-dots {
  bottom: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 136px;
}
@media screen and (max-width: 767px) {
  .mainvisual__inner--slide .slide-pc .mv-slide .slick-dots {
    bottom: 24px;
  }
}
.mainvisual__inner--slide .slide-pc .mv-slide .slick-dots li {
  margin: 0 8px;
}
.mainvisual__inner--slide .slide-pc .mv-slide .slick-dots li button::before {
  width: 16px;
  height: 16px;
  color: #efefef;
  opacity: 1;
  font-size: 1.6rem;
}
.mainvisual__inner--slide .slide-pc .mv-slide .slick-dots li.slick-active button::before {
  opacity: 1;
  color: #B40F0F;
}
.mainvisual__inner--slide .slide-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .mainvisual__inner--slide .slide-sp {
    display: block;
  }
}
.mainvisual__inner--slide .slide-sp .mv-slide {
  opacity: 0;
  transition: opacity 0.3s linear;
}
.mainvisual__inner--slide .slide-sp .mv-slide.slick-initialized {
  opacity: 1;
}
.mainvisual__inner--slide .slide-sp .mv-slide .slide-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 51, 59, 0.1);
  opacity: 0.16;
  display: block;
}
.mainvisual__inner--slide .slide-sp .mv-slide .slide-img img {
  width: 100%;
  height: 474px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainvisual__inner--slide .slide-sp .mv-slide .slick-dots {
  width: 100%;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.mainvisual__inner--slide .slide-sp .mv-slide .slick-dots li {
  margin: 0 8px;
}
.mainvisual__inner--slide .slide-sp .mv-slide .slick-dots li button::before {
  width: 8px;
  height: 8px;
  color: #efefef;
  opacity: 1;
  font-size: 0.8rem;
}
.mainvisual__inner--slide .slide-sp .mv-slide .slick-dots li.slick-active button::before {
  opacity: 1;
  color: #B40F0F;
}
.mainvisual__inner--slide .scroll {
  position: absolute;
  left: -55px;
  bottom: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .mainvisual__inner--slide .scroll {
    left: -24px;
  }
}
.mainvisual__inner--slide .scroll p {
  writing-mode: vertical-rl;
  color: #B40F0F;
  font-size: 18px;
  margin-bottom: 24px;
}

.catch-copy {
  margin-top: 56px;
  width: 100%;
}
.catch-copy h1 {
  white-space: nowrap;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #000000;
  text-align: center;
}
.catch-copy h1 span {
  color: #B40F0F;
}
@media screen and (max-width: 768px) {
  .catch-copy h1 {
    font-size: 2.4rem;
  }
}

/*----------電話番号、プライバシーポリシー -------------*/
.contact-box {
  margin-top: 120px;
  height: auto;
  padding: 0;
  background: url(../images/common/contact-bg.png) no-repeat center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .contact-box {
    margin-top: 40px;
  }
}
.contact-box .bg-cover {
  background-color: rgba(83, 83, 82, 0.3);
  width: 100%;
  height: 100%;
}
.contact-box .bg-cover .contact {
  width: 100%;
  height: 100%;
  padding: 80px 0;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact-box .bg-cover .contact {
    padding: 80px 24px;
  }
}
.contact-box .bg-cover .contact h2 {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .contact-box .bg-cover .contact h2 {
    margin-bottom: 24px;
  }
}
.contact-box .bg-cover .contact__tel {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .contact-box .bg-cover .contact__tel {
    margin-bottom: 24px;
  }
}
.contact-box .bg-cover .contact__tel .tell-banner {
  margin-bottom: 16px;
}
.contact-box .bg-cover .contact__policy h3 {
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .contact-box .bg-cover .contact__policy h3 {
    margin-bottom: 8px;
  }
}

/*------- フッター -------*/
.footer p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.footer__inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .footer__inner {
    padding: 0 48px;
  }
}
.footer__inner--left {
  width: 65%;
}
@media screen and (max-width: 768px) {
  .footer__inner--left {
    width: 100%;
    margin-bottom: 40px;
  }
}
.footer__inner--left .footer-logo {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .footer__inner--left .footer-logo {
    margin-bottom: 24px;
  }
}
.footer__inner--left .footer-logo img {
  max-width: 476px;
  width: 100%;
}
.footer__inner--left .location {
  width: 50%;
  padding-right: 40px;
}
@media screen and (max-width: 768px) {
  .footer__inner--left .location {
    width: 100%;
    padding-right: 0;
    margin-bottom: 24px;
  }
}
.footer__inner--left .location p {
  margin-bottom: 8px;
}
.footer__inner--left .location .map-btn {
  margin-top: 16px;
  width: 158px;
  height: 38px;
  background-color: #B40F0F;
  border-radius: 28px;
}
.footer__inner--left .location .map-btn p {
  color: #ffffff;
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  line-height: 38px;
}
.footer__inner--left .location .map-btn p::after {
  content: "";
  background: url(../images/svg/ext-site-icon.svg) no-repeat center;
  display: inline-block;
  background-size: contain;
  vertical-align: -3px;
  width: 14px;
  height: 16px;
  margin-left: 8px;
}
.footer__inner--left .access {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .footer__inner--left .access {
    width: 100%;
  }
}
.footer__inner--left .access p {
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .footer__inner--left .access p {
    margin-bottom: 8px;
  }
}
.footer__inner--right {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .footer__inner--right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .footer__inner--right .footer-menulist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer__inner--right .footer-menulist ul {
    width: 50%;
  }
}
@media screen and (max-width: 768px) and (max-width: 375px) {
  .footer__inner--right .footer-menulist ul {
    width: 100%;
  }
}
.footer__inner--right .footer-menulist ul + ul {
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .footer__inner--right .footer-menulist ul + ul {
    margin-top: 0;
  }
}
@media screen and (max-width: 375px) {
  .footer__inner--right .footer-menulist ul + ul {
    margin-top: 16px;
  }
}
.footer__inner--right .footer-menulist li {
  list-style: none;
}
.footer .copyright {
  font-size: 1.2rem;
  text-align: center;
  margin: 128px 0 54px 0;
}
@media screen and (max-width: 768px) {
  .footer .copyright {
    font-size: 1rem;
    margin: 64px 0 54px 0;
  }
}

/*---------- ごあいさつ -----------*/
.pad-canceller {
  padding-left: 0;
  padding-right: 0;
}

.salut {
  width: 100%;
}
.salut__inner {
  padding: 146px 120px 0 120px;
  margin: 0 auto;
  max-width: 869px;
  width: 100%;
  height: 634px;
  background: url(../images/common/background_pc-xl.svg) no-repeat center;
  background-size: contain;
}
@media screen and (max-width: 1024px) {
  .salut__inner {
    padding: 146px 120px 0 120px;
    max-width: 637px;
    width: 100%;
    height: 738px;
    background: url(../images/common/background_lg.svg) no-repeat center;
  }
}
@media screen and (max-width: 768px) {
  .salut__inner {
    padding: 88px 80px 0 80px;
    max-width: 492px;
    width: 100%;
    height: 591px;
    background: url(../images/common/background_md.svg) no-repeat center;
  }
}
@media screen and (max-width: 540px) {
  .salut__inner {
    padding: 88px 60px 0 60px;
    max-width: 343px;
    width: 100%;
    height: 703px;
    background: url(../images/common/background_sp.svg) no-repeat center;
  }
}
.salut__inner h2 {
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .salut__inner h2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 540px) {
  .salut__inner h2 {
    margin-bottom: 16px;
  }
}
.salut__inner--title {
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .salut__inner--title {
    margin-bottom: 16px;
  }
}
.salut__inner--title h3 {
  text-align: center;
}
.salut__inner--title h3 span {
  color: #B40F0F;
}
.salut__inner--text p {
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .salut__inner--text p {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 540px) {
  .salut__inner--text p {
    margin-bottom: 8px;
  }
}

/*---------- お知らせ -----------*/
.news {
  position: relative;
  padding-top: 35px;
}
.news .news__title {
  position: absolute;
  top: 0;
}
.news .news__title h2 {
  background-color: #2176BF;
  border-radius: 48px;
  text-align: center;
  padding: 16px 48px;
  color: #ffffff;
}
.news .news__box {
  background-color: #EFF7FF;
  width: 100%;
  height: auto;
  padding: 64px 64px 32px 40px;
}
@media screen and (max-width: 768px) {
  .news .news__box {
    padding: 56px 40px 24px;
  }
}
@media screen and (max-width: 540px) {
  .news .news__box {
    padding: 56px 24px 16px;
  }
}
.news .news__box--inner {
  width: 100%;
  max-height: 227px;
  overflow: auto;
  padding-right: 24px;
}
.news .news__box--inner::-webkit-scrollbar {
  width: 8px;
}
.news .news__box--inner::-webkit-scrollbar-track {
  background-color: #ededed;
}
.news .news__box--inner::-webkit-scrollbar-thumb {
  background-color: #2176BF;
}
.news .news__box--inner .article {
  border-bottom: solid #000 1px;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.news .news__box--inner .article__title {
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
}
.news .news__box--inner .article__title--date {
  color: #B40F0F;
}
.news .news__box--inner .article__title h3 {
  margin-left: 32px;
}
@media screen and (max-width: 1024px) {
  .news .news__box--inner .article__title h3 {
    margin-left: 0;
    width: 100%;
  }
}

/*-------- コース紹介 ------*/
.course .course__list {
  width: 100%;
}
.course .course__list .coursebox {
  margin-bottom: 120px;
  /*--------- コース色指定 ------------*/
}
.course .course__list .coursebox__inner--title {
  padding: 40px 64px;
}
@media screen and (max-width: 768px) {
  .course .course__list .coursebox__inner--title {
    padding: 24px 32px;
  }
}
@media screen and (max-width: 540px) {
  .course .course__list .coursebox__inner--title {
    padding: 24px 16px;
  }
}
.course .course__list .coursebox__inner--title h2 {
  padding-bottom: 0;
}
.course .course__list .coursebox__inner--title p {
  width: 65%;
}
@media screen and (max-width: 1024px) {
  .course .course__list .coursebox__inner--title p {
    width: 100%;
  }
}
.course .course__list .coursebox__inner .flexcolumn {
  width: 100%;
  padding: 40px 64px 24px 64px;
}
@media screen and (max-width: 1024px) {
  .course .course__list .coursebox__inner .flexcolumn {
    flex-wrap: wrap;
    padding: 40px 64px 64px 64px;
  }
}
@media screen and (max-width: 768px) {
  .course .course__list .coursebox__inner .flexcolumn {
    padding: 24px 32px 54px 32px;
  }
}
@media screen and (max-width: 540px) {
  .course .course__list .coursebox__inner .flexcolumn {
    padding: 16px 16px 54px 16px;
  }
}
.course .course__list .coursebox__inner--text {
  width: 65%;
  padding-right: 24px;
}
@media screen and (max-width: 1024px) {
  .course .course__list .coursebox__inner--text {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 24px;
  }
}
.course .course__list .coursebox__inner--text h3 {
  margin-bottom: 8px;
}
.course .course__list .coursebox__inner--text .cont-txt {
  margin-bottom: 16px;
}
.course .course__list .coursebox__inner--text .tag-list {
  width: 100%;
}
.course .course__list .coursebox__inner--text .tag-list li {
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 11px 16px;
  border-radius: 32px;
}
.course .course__list .coursebox__inner--text .tag-list li p {
  white-space: nowrap;
  font-size: 14px;
}
.course .course__list .coursebox__inner--image {
  width: 35%;
}
@media screen and (max-width: 1024px) {
  .course .course__list .coursebox__inner--image {
    width: 100%;
  }
}
.course .course__list .coursebox__inner--image .right-wrap {
  margin: 0 0 0 auto;
  width: 100%;
  position: relative;
  height: 245px;
}
@media screen and (max-width: 1024px) {
  .course .course__list .coursebox__inner--image .right-wrap {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
}
.course .course__list .coursebox__inner--image .right-wrap img {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
@media screen and (max-width: 1024px) {
  .course .course__list .coursebox__inner--image .right-wrap img {
    position: relative;
    top: 0;
  }
}
.course .course__list .coursebox__inner--image .right-wrap .link-btn {
  text-align: center;
  position: absolute;
  padding: 16px 40px;
  border-radius: 33px;
  font-size: 1.6rem;
  white-space: nowrap;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
@media screen and (max-width: 1024px) {
  .course .course__list .coursebox__inner--image .right-wrap .link-btn {
    padding: 16px 56px;
    bottom: -24px;
  }
}
.course .course__list .coursebox__inner--image .right-wrap .link-btn a::after {
  content: "";
  background: url(../images/svg/arrow-blk.svg) no-repeat center;
  width: 17px;
  height: 16px;
  margin-left: 8px;
  vertical-align: -2px;
  display: inline-block;
  background-size: contain;
}
.course .course__list .coursebox:nth-child(1) {
  background-color: #FFEBEE;
  border: solid 8px #FF89AD;
}
.course .course__list .coursebox:nth-child(1) .coursebox__inner--title {
  background-color: #FF89AD;
}
.course .course__list .coursebox:nth-child(1) .tag-list li {
  background-color: #FF89AD;
}
.course .course__list .coursebox:nth-child(1) .tag-list li p {
  color: #000000;
}
.course .course__list .coursebox:nth-child(1) .link-btn {
  background-color: #FF89AD;
}
.course .course__list .coursebox:nth-child(2) {
  background-color: #FFFDEB;
  border: solid 8px #FFE562;
}
.course .course__list .coursebox:nth-child(2) .coursebox__inner--title {
  background-color: #FFE562;
}
.course .course__list .coursebox:nth-child(2) .tag-list li {
  background-color: #FFE562;
}
.course .course__list .coursebox:nth-child(2) .tag-list li p {
  color: #000000;
}
.course .course__list .coursebox:nth-child(2) .link-btn {
  background-color: #FFE562;
}
.course .course__list .coursebox:nth-child(3) {
  background-color: #DCF0C4;
  border: solid 8px #69B90C;
}
.course .course__list .coursebox:nth-child(3) .coursebox__inner--title {
  background-color: #69B90C;
}
.course .course__list .coursebox:nth-child(3) .tag-list li {
  background-color: #69B90C;
}
.course .course__list .coursebox:nth-child(3) .tag-list li p {
  color: #ffffff;
}
.course .course__list .coursebox:nth-child(3) .link-btn {
  background-color: #69B90C;
  color: #ffffff;
}
.course .course__list .coursebox:nth-child(3) .link-btn a::after {
  content: "";
  background: url(../images/svg/arrow-wh.svg) no-repeat center;
  width: 17px;
  height: 16px;
  margin-left: 8px;
  vertical-align: -2px;
  display: inline-block;
  background-size: contain;
}
.course .course__list .coursebox:last-child {
  margin-bottom: 0;
}

/*---------------　保護者の声　--------------------*/
.voice {
  background-color: #FFEBEE;
  padding: 40px 64px;
}
@media screen and (max-width: 540px) {
  .voice {
    padding: 24px;
  }
}
.voice__list {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .voice__list {
    flex-wrap: wrap;
  }
}
.voice__list .voisebox {
  width: calc((100% - 80px) / 3);
}
@media screen and (max-width: 768px) {
  .voice__list .voisebox {
    width: 100%;
    margin-bottom: 32px;
  }
  .voice__list .voisebox:last-child {
    margin-bottom: 0;
  }
}
.voice__list .voisebox__image {
  margin-bottom: 24px;
  background-color: #ffffff;
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .voice__list .voisebox__image {
    margin-bottom: 16px;
  }
}
.voice__list .voisebox__image img {
  height: 194px;
}
.voice__list .voisebox__content h3 {
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .voice__list .voisebox__content h3 {
    margin-bottom: 8px;
  }
}

/*---------------　基本理念　--------------------*/
.policy {
  width: 100%;
  padding: 0 64px;
}
@media screen and (max-width: 1024px) {
  .policy {
    padding: 0 32px;
  }
}
@media screen and (max-width: 768px) {
  .policy {
    padding: 0;
  }
}
.policy__inner {
  width: 100%;
  background-color: #FFEBEE;
  position: relative;
  padding: 40px 144px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .policy__inner {
    padding: 32px 48px 176px 48px;
  }
}
@media screen and (max-width: 768px) {
  .policy__inner {
    padding: 32px 0px 128px 0px;
  }
}
.policy__inner h3 {
  margin-bottom: 16px;
  white-space: nowrap;
}
.policy__inner:last-child {
  margin-bottom: 0;
}
.policy__inner p {
  padding: 0 24px;
}
.policy__inner h3, .policy__inner p {
  text-align: center;
}
.policy__inner--title {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .policy__inner--title {
    margin-bottom: 24px;
  }
}
.policy__inner .kids-icon {
  position: absolute;
  top: -15px;
  left: -64px;
  width: 150px;
}
@media screen and (max-width: 1024px) {
  .policy__inner .kids-icon {
    width: 120px;
    bottom: 16px;
    top: auto;
    left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .policy__inner .kids-icon {
    width: 80px;
  }
}
.policy__inner .bird-icon {
  position: absolute;
  bottom: 0;
  right: -64px;
  width: 150px;
}
@media screen and (max-width: 1024px) {
  .policy__inner .bird-icon {
    width: 120px;
    bottom: 16px;
    right: 24px;
  }
}
@media screen and (max-width: 768px) {
  .policy__inner .bird-icon {
    width: 80px;
  }
}

/*---------------　ロゴに込めた想い　--------------------*/
.logo__inner {
  width: 100%;
  background-color: #FFEBEE;
}
@media screen and (max-width: 1200px) {
  .logo__inner {
    flex-wrap: wrap;
  }
}
.logo__inner--pot {
  width: 48%;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .logo__inner--pot {
    width: 100%;
  }
}
.logo__inner--pot img {
  width: 50%;
  height: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.logo__inner--text {
  width: 52%;
  padding: 64px;
}
@media screen and (max-width: 1200px) {
  .logo__inner--text {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .logo__inner--text {
    padding: 32px 24px;
  }
}
.logo__inner--text .bold {
  margin-bottom: 16px;
}

/*---------------　施設案内　--------------------*/
.facility .facility_box {
  border-left: solid 14px #B40F0F;
  margin-bottom: 64px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .facility .facility_box {
    border-left: solid 8px #B40F0F;
  }
}
.facility__inner {
  border-bottom: solid 4px #000;
  border-right: solid 4px #000;
  border-top: solid 4px #000;
  align-items: inherit;
}
@media screen and (max-width: 1024px) {
  .facility__inner {
    flex-wrap: wrap;
  }
}
.facility__inner:last-child {
  margin-bottom: 0;
}
.facility__inner--image {
  width: 50%;
  height: 414px;
}
@media screen and (max-width: 1024px) {
  .facility__inner--image {
    width: 100%;
    height: 360px;
  }
}
@media screen and (max-width: 768px) {
  .facility__inner--image {
    height: 290px;
  }
}
@media screen and (max-width: 540px) {
  .facility__inner--image {
    height: 200px;
  }
}
.facility__inner--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.facility__inner--text {
  width: 50%;
  padding: 40px;
}
@media screen and (max-width: 1024px) {
  .facility__inner--text {
    width: 100%;
    height: 360px;
  }
}
@media screen and (max-width: 768px) {
  .facility__inner--text {
    height: 290px;
    padding: 24px;
  }
}
@media screen and (max-width: 540px) {
  .facility__inner--text {
    height: 200px;
    padding: 24px 16px;
  }
}
.facility__inner--text h2 {
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .facility__inner--text h2 {
    margin-bottom: 8px;
  }
}

.undervisual {
  max-width: 100%;
  width: 100%;
  padding-top: 152px;
}
@media screen and (max-width: 768px) {
  .undervisual {
    padding-top: 88px;
  }
}
.undervisual__inner {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 16px 60px 16px;
}
@media screen and (max-width: 768px) {
  .undervisual__inner {
    padding: 80px 16px 40px 16px;
  }
}
.undervisual__inner img {
  max-width: 100%;
  width: 100%;
}
.undervisual__inner .page-title {
  font-size: 4.8rem;
  text-align: center;
  padding: 40px 0;
}
@media screen and (max-width: 768px) {
  .undervisual__inner .page-title {
    padding: 24px 0;
  }
}

.explanation {
  max-width: 100%;
  width: 100%;
  padding: 64px;
}
@media screen and (max-width: 540px) {
  .explanation .title-box::before {
    top: 16px;
  }
  .explanation .title-box.rabbit::after {
    top: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .explanation {
    padding: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .explanation {
    padding: 24px;
  }
}
.explanation__inner {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .explanation__inner {
    padding-top: 80px;
  }
}
.explanation__inner::after, .explanation__inner::before {
  content: "";
  max-width: 112px;
  width: 100%;
  height: 64px;
  position: absolute;
  top: 0;
}
.explanation__inner::after {
  left: 0;
  background-image: url(../images/svg/flag-left.svg);
}
.explanation__inner::before {
  right: 0;
  background-image: url(../images/svg/flag-right.svg);
}
.explanation__inner .item__title {
  height: 64px;
  padding: 0 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .explanation__inner .item__title {
    height: auto;
    padding: 16px;
  }
}
.explanation__inner .item__text {
  margin: 16px 0px 40px 40px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .explanation__inner .item__text {
    margin: 16px 24px 24px 24px;
    padding-bottom: 72px;
  }
}
.explanation__inner .item__text::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .explanation__inner .item__text::after {
    top: auto;
    bottom: 0;
    background-size: contain;
  }
}
.explanation__inner .item__text p {
  max-width: calc(100% - 170px);
  margin: 0 auto 0 0;
}
@media screen and (max-width: 1024px) {
  .explanation__inner .item__text p {
    max-width: 100%;
  }
}
.explanation__inner .item:first-child .item__text::after {
  max-width: 56px;
  width: 100%;
  height: 80px;
  background-image: url(../images/svg/wood.svg);
  top: auto;
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  .explanation__inner .item:first-child .item__text::after {
    max-width: 48px;
    height: 64px;
  }
}
.explanation__inner .item:nth-child(2) .item__text::after {
  max-width: 64px;
  width: 100%;
  height: 85px;
  background-image: url(../images/svg/koala.svg);
  top: auto;
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  .explanation__inner .item:nth-child(2) .item__text::after {
    max-width: 48px;
    height: 64px;
  }
}
.explanation__inner .item:nth-child(3) .item__text::after {
  max-width: 30px;
  width: 100%;
  height: 52px;
  background-image: url(../images/svg/balloon.svg);
}
@media screen and (max-width: 1024px) {
  .explanation__inner .item:nth-child(3) .item__text::after {
    max-width: 40px;
    height: 64px;
  }
}
.explanation__inner .item:nth-child(4) .item__text::after {
  max-width: 85px;
  width: 100%;
  height: 116px;
  background-image: url(../images/svg/wood2.svg);
}
@media screen and (max-width: 1024px) {
  .explanation__inner .item:nth-child(4) .item__text::after {
    max-width: 48px;
    height: 64px;
  }
}

.about {
  max-width: 100%;
  width: 100%;
}
.about__title {
  max-width: 100%;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__inner {
  max-width: 100%;
  width: 100%;
  padding: 64px;
  border: 8px solid;
  border-top: none;
}
@media screen and (max-width: 1024px) {
  .about__inner {
    padding: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .about__inner {
    padding: 24px;
  }
}
.about__inner .item {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .about__inner .item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
.about__inner .item__title {
  max-width: 300px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .about__inner .item__title {
    max-width: 100%;
    padding: 16px;
  }
}
.about__inner .item__title span {
  padding-right: 24px;
}
.about__inner .item__text {
  max-width: 100%;
  width: 100%;
  padding: 40px;
}
@media screen and (max-width: 767px) {
  .about__inner .item__text {
    padding: 24px;
  }
}
.about__inner .item:last-of-type {
  margin-bottom: 0;
}
.about__inner--openings {
  max-width: 100%;
  width: 100%;
  padding: 40px;
  background: #ffffff;
}
.about__inner--openings p {
  text-align: center;
  font-size: 1.6rem;
}
.about__inner--image {
  max-width: 100%;
  width: 100%;
  padding-bottom: 40px;
}
.about__inner--image:last-of-type {
  padding-bottom: 0;
}
.about__inner--image img {
  width: 100%;
}

.undervisual__inner.provision .page-title {
  background-color: #FFE562;
}

#provision .explanation {
  border: 8px solid #FFE562;
  background: #FFFDEB;
}
#provision .explanation__inner .item__title {
  background: #FFE562;
}
#provision .about__title {
  background: #FFE562;
}
#provision .about__title h2 {
  position: relative;
  padding: 0 50px;
}
#provision .about__title h2::after, #provision .about__title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
}
#provision .about__title h2::after {
  width: 34px;
  height: 64px;
  background-image: url(../images/svg/title-left.svg);
  left: 0;
}
#provision .about__title h2::before {
  width: 50px;
  height: 72px;
  background-image: url(../images/svg/title-right.svg);
  right: 0;
}
#provision .about__inner {
  border-color: #FFE562;
  background: #FFFDEB;
}
#provision .about__inner .item__title {
  background: #FFE562;
}
#provision .about__inner .item__text {
  background: #ffffff;
}

.undervisual__inner.elementaryschool .page-title {
  background-color: #69B90C;
}

#elementaryschool .explanation {
  border: 8px solid #69B90C;
  background: #DCF0C4;
}
#elementaryschool .explanation__inner .item__title {
  background: #69B90C;
}
#elementaryschool .about__title {
  background: #69B90C;
}
#elementaryschool .about__title h2 {
  position: relative;
  padding: 0 50px;
}
#elementaryschool .about__title h2::after, #elementaryschool .about__title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
}
#elementaryschool .about__title h2::after {
  width: 34px;
  height: 64px;
  background-image: url(../images/svg/title-left2.svg);
  left: 0;
}
#elementaryschool .about__title h2::before {
  width: 50px;
  height: 72px;
  background-image: url(../images/svg/title-right.svg);
  right: 0;
}
#elementaryschool .about__inner {
  border-color: #69B90C;
  background: #DCF0C4;
}
#elementaryschool .about__inner .item__title {
  background: #69B90C;
}
#elementaryschool .about__inner .item__text {
  background: #ffffff;
}

/*
* 案件担当者以外が記述する場合はなるべく此処に記述してください。
* コーディング終了後修正記述用のscssファイルです。
* このimportしたファイル以下に記述しないでください。
*/
/*# sourceMappingURL=common.css.map */